* {
    border-color: red;
    border-radius: 1px;
    color: white !important;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-impact {
    font-family: 'Impact';
}

body {
    overflow-x: hidden;
}

a,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(255, 255, 255) !important;
}

a:hover>div {
    background-color: rgba(0, 0, 0, 0.453);
}

.navbar {
    background-color: rgba(0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-link {
    font-size: medium;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-brand {
    background-color: #ff6600;
    border-radius: 4px;
    font-size: small;
}

.nav-link:hover {
    color: #ff6600 !important;
}

.nav-link.active,
.text-brand,
.icons {
    color: #ff6600 !important;
}

/* Image hover zoom-in effect */
.news-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
    /* Smooth zoom animation */
}

.train-link {
    color: rgba(255, 255, 255, 0.575) !important;
    font-weight: 500
}

.train-link:hover {
    color: white !important;
}

.nav-pills .nav-link.active {
    background-color: white;
}

.nav-link.active:hover {
    color: #ff6600 !important;
}

.train {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.line {
    height: 1px;
    background-color: #ff6600;
    width: 200px;
}

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.background {
    max-height: 120vh;
    background-image: url("../../resources/images/bg.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    /* Add the blur effect */
    /* Center and scale the image nicely */
    background-size: cover;
}

.bg-scnd {
    background-color: rgba(0, 0, 0, 0.696);
}

.bg-dark-t {
    background-color: rgb(0, 0, 0) !important;
}

.card-header {
    color: #ff6600 !important;
}

.card {
    background-color: rgb(0, 0, 0);
}

.btn-comprar {
    font-weight: bold;
    background-color: #ff6600 !important;
}

.card {
    max-width: 250px;
}

.contacts-container {
    width: 100%;
    justify-content: center;
}

.contacts {
    max-width: 400px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact:hover {
    opacity: 0.9;
}

.form-control {
    color: black !important;
}

.hover-maximize {
    transition: all 0.2s ease;
}

.hover-maximize:hover {
    transform: scale(1.02);
}

.link {
    color: #ff6600 !important;
    font-weight: bold;
    border-bottom: 2px dotted #ff6600;
}

.link:hover {
    color: #E43F00 !important;
    border-bottom: 2px solid #E43F00;
}

.map-container {
    overflow: hidden;
    padding-left: 100px;
    padding-bottom: 500px;
}

.map-container iframe {
    height: 350px;
    width: 650px;
    position: absolute;
    border-radius: 8px;
}

.numbers1 {
    background-image: url("../../resources/images/bg-orange.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 100px;
    margin-bottom: 100px;
}

.numbers2 {
    background-image: url("../../resources/images/bg-school.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 100px;
    margin-bottom: 100px;
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.number-incr {
    transition: --num 1s;
    counter-reset: num var(--num);
}

.number-incr::after {
    content: counter(num);
}

.to-10 {
    animation: counter-10 3s ease-in-out forwards;
}

.to-60 {
    animation: counter-60 3s ease-in-out forwards;
}

.to-200 {
    animation: counter-200 3s ease-in-out forwards;
}

.to-400 {
    animation: counter-400 3s ease-in-out forwards;
}

.to-1300 {
    animation: counter-1300 3s ease-in-out forwards;
}

@keyframes counter-10 {
    from {
        --num: 0;
    }

    to {
        --num: 10;
    }
}

@keyframes counter-60 {
    from {
        --num: 0;
    }

    to {
        --num: 60;
    }
}

@keyframes counter-200 {
    from {
        --num: 0;
    }

    to {
        --num: 200;
    }
}

@keyframes counter-400 {
    from {
        --num: 0;
    }

    to {
        --num: 400;
    }
}

@keyframes counter-1300 {
    from {
        --num: 0;
    }

    to {
        --num: 1300;
    }
}

.vr {
    width: 3px;
    height: 100px;
    opacity: 0.9;
}

.sponsor {
    width: 150px;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.sponsor:hover {
    transform: scale(1.1);
}

.text-justify {
    text-align: justify;
}

.news-text {
    margin: 0 50px 0 50px;
}

.text-muted {
    color: rgb(100, 106, 112) !important;
}

.text-muted:hover {
    color: rgb(100, 106, 112) !important;
}

.underline-hover:hover {
    border-bottom: 1px solid rgb(100, 106, 112);
}

.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;

    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}

.lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.calendar:hover {
    background-color: #357AE8;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.calendar {
    padding: 8px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #6ca1f6;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.disabled {
    cursor: not-allowed;
}

.page-link {
    text-decoration: none;
    cursor: pointer;
}

.page-item:hover .page-link {
    background-color: #f4a875;
    border-color: #f4a875;
    color: black !important;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #d5d5d5;
    border-color: #d5d5d5;
}

.page-item.active .page-link {
    background-color: #ff6600;
    border-color: #ff6600;
    color: black !important;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

.search-bar {
    position: relative;
    width: 50%;
    /* Adjust width as needed */
}

.search-bar input {
    width: 100%;
    padding: 12px 20px;
    padding-left: 45px;
    /* Spacing for the icon */
    border: 1px solid #ccc;
    border-radius: 30px;
    /* Rounded edges */
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    transition: all 0.3s ease;
}

.search-bar input:focus {
    outline: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.search-bar i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .search-bar {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .search-bar {
        width: 90%;
    }
}

/* Styles for news items */
.news-item {
    padding: 10px 0;
}

.news-item h3 {
    margin-bottom: 5px;
}

.news-item p {
    color: #666;
}

#news-container .news-item {
    display: flex;
    flex-direction: column;
    height: 390px;
    overflow: hidden;
    padding: 15px;
}

.news-item img {
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

#pagination {
    position: relative;
    min-height: 50px;
}

.news-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Number of lines before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 6em;
    /* Adjust based on line height */
    transition: max-height 0.3s ease-in-out;
}

.news-description.expanded {
    -webkit-line-clamp: unset;
    max-height: 20em;
}

.load-more {
    font-weight: bold;
    margin-top: 5px;
    color: #ff6600 !important;
    display: block;
    cursor: pointer;
}


@media (max-width: 768px) {
    #news-container .news-item {
        height: auto;
        /* Allow flexible height on smaller screens */
    }
}

.location-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 8px;
    margin: 10px 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #5a2400;
    color: #5a2400;
}

.location-btn.active {
    background-color: #813400;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.location-btn.btn-outline-primary {
    background-color: #825e47;
    color: #813400;
    border: 2px solid #825e47;
    opacity: 0.6;
}

.location-btn:hover {
    color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    opacity: 1;
}

/* Card styles */
.shop-card {
    text-align: center;
    border: 1px solid #6c757d;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Badge style */
.badge-novidade {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #ff6600 !important;
    color: white;
}

.badge-popular {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: black !important;
    color: white;
}

/* Size option styles */
.size-option {
    width: auto;
    /* Allow flexible width */
    height: auto;
    /* Adjust height dynamically */
    padding: 2px 4px;
    border: 1px solid #f8f9fa;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    margin: 2px;
    font-size: 0.75rem;
}

/* Unavailable size (Sold Out) */
.size-unavailable {
    opacity: 0.4;
}

/* Make sure sizes are wrapped in a flexbox */
.size-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    /* Height adjustment to accommodate 2 rows of sizes */
    max-height: 50px;
}

.price-col {
    text-align: center;
}

.shop-btn {
    background-color: #007bff;
    color: white;
}

.card-img-top {
    cursor: pointer;
}

/* Grayscale for sold out items */
.sold-out .shop-card,
.sold-out .card-img-top {
    filter: grayscale(100%);
}

/* Overlay for sold out items */
.sold-out-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

/* Show the sold out overlay */
.sold-out .sold-out-overlay {
    opacity: 1;
}

/* Modal container */
#imageModal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal close button */
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 40px;
}

/* Modal close button hover */
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Modal image content */
.modal-content {
    margin: auto;
    margin-top: 30px;
    display: block;
    max-width: 90%;
    /* Restrict image width */
    max-height: 80vh;
    /* Restrict image height to 90% of the viewport height */
    width: auto;
    /* Keep original aspect ratio */
    height: auto;
}

/* Caption below the modal image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    font-size: 18px;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .modal-content {
        max-width: 80%;
        max-height: 80vh;
        margin-top: 60px;
    }

    .close {
        top: 20px;
        right: 20px;
    }
}


@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
    .nav {
        --bs-nav-link-padding-x: 0.5rem;
    }
}

@media (max-width: 667px) {
    .nav {
        --bs-nav-link-padding-x: 0.5rem;
    }

    .pagination .page-link {
        font-size: 1rem;
        padding: 0.5rem 0.7rem;
    }

    .pagination {
        flex-wrap: wrap;
    }

    .pagination .page-item {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .navbar {
        height: 80px;
    }

    .sponsors {
        margin: 0 200px 0 200px;
    }

    .arrow-carousel {
        margin-top: 100px;
    }

    .lightbox {
        padding-top: 6rem;
    }
}

@media (max-width: 992px) {
    .margin-mobile {
        margin-top: 50px
    }

    .page-padding {
        padding: 40px;
    }

    .logo-footer {
        text-align: center;
    }

    .item-footer {
        padding-top: 40px;
        text-align: center;
    }

    .registration {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .news {
        margin-top: 150px;
    }

    .contacts {
        max-width: 350px;
        height: 350px;
        margin-bottom: 50px;
    }

    .contacts-container {
        margin-top: 50px;
        margin-left: 0;
        justify-content: center;
    }

    .map-container {
        padding-left: 0;
        padding-bottom: 250px;
        margin-left: 15px;
    }

    .map-container iframe {
        height: 150px;
        width: 350px;
        position: absolute;
        border-radius: 8px;
    }

    .news-text {
        margin: 0 20px 0 20px;
    }

}